.back-to-top {
  position: fixed;
  bottom: 0px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: clamp(84px, 7.25vw, 300px);
  height: clamp(84px, 7.25vw, 300px);
  font-size: clamp(96px, 5.208vw, 220px);
  padding: 11px 0;
  border-radius: 50%;
  background: $accent-1;
  color: $white;
  text-align: center;
  opacity: 0;
  text-decoration: none;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(0.3);
  z-index: 999;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  &:hover {
    background: $medium-black;
    color: $white;
  }

  &.show {
    opacity: 1;
  }

  @include media-query(490px) {
    right: -20px;
    bottom: -20px;
  }
}

.cus-btn {
  color: $white;
  text-transform: capitalize;
  text-decoration: none;
  padding: clamp(12px, 0.845vw, 32px) clamp(24px, 1.667vw, 64px);
  font-size: clamp(14px, 0.833vw, 48px);
  font-family: $font-sec;
  font-weight: 400;
  border-radius: 84px;
  cursor: pointer;
  background: $accent-1;
  position: relative;
  overflow: hidden;
  z-index: 10;
  transition: $transition;
  border: 0;

  &:hover {
    color: $white;
    &::before {
      width: 160%;
    }
  }

  &::before {
    content: "";
    position: absolute;
    height: 105%;
    width: 0%;
    top: 0;
    left: -40px;
    transform: skewX(45deg);
    background-color: $medium-black;
    transition: $transition;
    z-index: -1;
  }

  &.btn-sec{
    background: transparent;
    border: 1px solid $accent-1;
    color: $accent-1;
    &:hover {
      border: 1px solid $medium-black;
      color: $white;
    }
  }
}
.cus-btn-2 {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: clamp(10px, 0.833vw, 40px) clamp(30px, 2.083vw, 80px);
  border: 1px solid $accent-1;
  font-size: clamp(14px, 0.833vw, 50px);
  font-family: $font-primary;
  font-family: $font-sec;
  font-weight: 400;
  line-height: 120%;
  background-color: transparent;
  min-width: auto;
  border-radius: $br-32;
  color: $accent-1;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);

  .arr-1, .arr-2{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: $accent-1;
    position: absolute;
    width: clamp(24px, 1.667vw, 54px);
    height: clamp(24px, 1.667vw, 54px);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .arr-1 {
    right: 16px;
  }

  .arr-2 {
    left: -25%;
  }

  svg{
    width: clamp(16px, 1.042vw, 40px);
    height: clamp(16px, .99vw, 32px);
    fill: $white;
  }

  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: $accent-1;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    padding-right: 8px;
  }

  &:hover {
    box-shadow: 0 0 0 12px transparent;
    color: $accent-2;
    border-radius: $br-32;

    .arr-1 {
      right: -25%;
    }

    .arr-2 {
      left: 16px;
    }

    .text {
      transform: translateX(12px);
    }

    svg {
      fill: $accent-2;
    }

    .circle {
      width: clamp(210px, 11.458vw, 560px);
      height: clamp(210px, 11.458vw, 560px);
      opacity: 1;
    }
  }
}

// ===================  SLICK SILDER BUTTONS =================== //
.slider-arrows {
  display: flex;
  align-items: center;
  gap: 8px;

  .arrow-btn {
    background: $white;
    border: 1px solid $light-black;
    width: 32px;
    height: 32px;
    display: grid;
    align-items: center;
    justify-content: center;
    transition: $transition;
    padding: 0;

    svg {
      path {
        transition: $transition;
      }
    }

    &:hover {
      border: 1px solid $accent-1;
      transition: $transition;
      background: $accent-1;

      svg {
        path {
          stroke: $white;
          transition: $transition;
        }
      }
    }
  }
}

// ===================  SLICK SILDER BUTTONS =================== // 

// ===================  Quantity BUTTONS =================== //
.quantity {
  display: inline-flex;
  align-items: flex-start;
  border: 0;
  border-radius: $br-4;
  padding: clamp(4px, 0.208vw, 24px) clamp(6px, 0.417vw, 48px);
  border: 1px solid $black;

  .input-area {
    display: flex;
    align-items: center;

    input {
      padding: 0;
      border: 0;
      background: transparent;
      font-size: clamp(16px, 0.938vw, 40px);
      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      text-align: center;

      &:focus-visible {
        outline: none;
      }
    }

    .decrement {
      border-radius: $br-4;
      border: none;
      width: clamp(28px, 1.667vw, 64px);
      height: clamp(28px, 1.667vw, 64px);
      transition: $transition;
      background: transparent;
      svg{
        width: clamp(12px, 0.833vw, 32px);
        height: clamp(12px, 0.833vw, 32px);
      }
    }

    .increment {
      border-radius: $br-4;
      border: none;
      width: clamp(28px, 1.667vw, 64px);
      height: clamp(28px, 1.667vw, 64px);
      transition: $transition;
      background: transparent;
      svg{
        width: clamp(12px, 0.833vw, 32px);
        height: clamp(12px, 0.833vw, 32px);
      }
    }
  }
}
// ===================  Quantity BUTTONS =================== // 

// ===================  PAGINATIONS =================== // 
.pagination {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  display: flex;

  #border-pagination {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    padding: 0;
    text-align: center;

    li {
      display: inline;

      span {
        color: $dark-gray;
        transition: $transition;
      }

      a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: $medium-black;
        background-color: $lightest-gray;
        width: clamp(36px, 2.5vw, 96px);
        height: clamp(36px, 2.5vw, 96px);
        border-radius: 50%;
        float: left;
        transition: $transition;
        font-family: $font-primary;
        font-size: clamp(14px, 0.833vw, 32px);
        font-weight: 400;
        line-height: 120%;
        letter-spacing: -0.62px;

        svg {
          width: clamp(17px, 1.042vw, 32px);
          height: clamp(17px, 1.042vw, 32px);
          path {
            stroke: $white;
            transition: $transition;
          }
        }

        &.active {
          color: $white;
          background-color: $accent-1;
        }

        &:hover {
          color: $white;
          background-color: $accent-1;
        }
      }

      &:hover {
        span {
          color: $white;
          transition: $transition;
        }
      }
    }
  }
}