.zui-wrapper {
    margin: 0 auto;
    width: 80%;
    position: relative;
    background-color: $white;
    padding: clamp(16px, 1.25vw, 48px);
    border-radius: $br-20;

    @include media-query(768px) {
        width: 100%;
    }

    .zui-table {
        border-collapse: separate;
        border-spacing: 0;
        margin-bottom: 0;

        thead {
            th {
                text-align: center !important;
                padding: clamp(12px, 0.833vw, 48px) 20px;
                text-align: left;
                vertical-align: top;
                min-width: 14.063vw;
                span{
                    display: block;
                }
            }
        }

        tbody {
            td {
                text-align: center !important;
                color: $black;
                padding: clamp(12px, 0.833vw, 48px) 20px;
                white-space: normal;
                vertical-align: top;
            }
        }

        .zui-sticky-col {
            left: 0;
            position: sticky;
            top: auto;
            font-weight: 700;
            min-width: 10.417vw;
            background-color: $white;
        }
    }

    tr {
        &:nth-child(even) {
            background: #F3F3F3;
        }
    }

    .zui-scroller {
        overflow-x: scroll;
        overflow-y: visible;
        padding-bottom: 5px;
        width: 100%;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-track {
            background-color: #ebebeb;
            -webkit-border-radius: 4px;
            border-radius: 4px;
        }

        &::-webkit-scrollbar-thumb {
            -webkit-border-radius: 4px;
            border-radius: 4px;
            background: $accent-1;
        }
    }

    .zui-sticky-col {
        &.zui-stripe-row {
            background-color: #F3F3F3;
        }
    }

    .product-img {
        height: auto;
        width: clamp(120px, 7.813vw, 650px);
    }

    .product-link {
        color: $accent-1;
        text-decoration: none;
    }

    th:not(:first-child),
    td:not(:first-child) {
        border-left: 1px solid lightgrey;
    }

    .far {
        padding-right: 8px;
    }

    .svg-inline--fa {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        line-height: 1;
        font-family: "Font Awesome 5 Pro";
        font-weight: 500;
        font-size: 23px;
        padding-right: 5px;
    }

    .fa-check-circle {
        color: #028845;
    }

    .fa-plus-circle {
        color: #2275D3;
    }

    .fa-times-circle {
        color: gray;
    }

    .scroll-button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        background-color: #fdb813;
    }

    #prev-button,
    #next-button {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        position: absolute;
        top: 50%;
    }

    #prev-button {
        left: 230px;
        display: none;
    }

    #next-button {
        right: -25px;
    }

    .fa-chevron-left,
    .fa-chevron-right {
        font-size: 22px;
        padding-right: 0;
    }


    /* Phone */
    @media screen and (max-width: 768px) and (min-width: 320px) {
        .zui-table .zui-sticky-col {
            min-width: 125px;
        }

        .zui-table thead th {
            min-width: 190px;
        }

        .zui-table tbody td {
            font-size: 15px;
        }

        .product-img {
            width: 100px;
            height: auto;
        }

    }

    @media screen and (max-width: 1280px) and (min-width: 768px) {
        .zui-table .zui-sticky-col {
            min-width: 175px;
        }

        .zui-table thead th {
            min-width: 270px;
        }
    }

    @media screen and (max-width: 1280px) {
        .instruction {
            display: block;
        }
    }
}

.size-guide-chart {
    padding: clamp(16px, 2.5vw, 96px);
    background: #ffff;
    width: clamp(350px, 51.25vw, 1650px);
    height: 580px;
    table{
        width: 100%;
        tr,td{
            border: 1px solid $dark-gray;
            text-align: center;
            color: $black;
        }
        thead{
            tr{
                td{
                    padding: 12px 4px;
                    &:nth-child(1){
                        width: 40%;
                    }
                    &:nth-child(2){
                        width: 12%;
                    }
                    &:nth-child(3){
                        width: 12%;
                        
                    }
                    &:nth-child(4){
                        width: 12%;
                        
                    }
                    &:nth-child(5){
                        width: 12%;
                        
                    }
                    &:nth-child(6){
                        width: 12%;
                        
                    }
                }
            }
        }
    }
}