img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul.list-style,
ol.list-style {
  padding: 0;
}

ul.list-style li::marker,
ol.list-style li::marker {
  color: $accent-1;
}

.unstyled {
  padding-left: 0;
  list-style: none;
  margin-bottom: 0;
}

.row {
  @include media-query(576px) {
    --bs-gutter-x: 0.75rem;
    --bs-gutter-y: 0;
  }
}
.container-fluid {
  width: 100% !important;
  max-width: 100% !important;
  padding: 0 5vw;
}

/*-------------------------
  Typography
-------------------------*/
html {
  scroll-behavior: smooth;
}

body {
  font-family: $font-primary;
  color: $dark-gray;
  background-color: $white;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: clamp(15px, 0.833vw, 40px);
  font-weight: 400;
  line-height: 140%;
  height: 100%;
  overflow-x: hidden;


  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d;
  }

}

a {
  display: inline-block;
  text-decoration: none;
  color: unset;
  transition: $transition;

  &:hover {
    color: $accent-1;
    transition: $transition;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
address,
p,
pre,
blockquote,
table,
hr {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: inherit;
  }
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin-bottom: 0;
}

/* ==================== H1 ==================== */
h1,
.h1 {
  font-family: $font-sec;
  font-size: clamp(48px, 3.177vw, 180px);
  /* 61px */
  font-weight: 400;
  line-height: 120%;
  /* 114px */

  @include media-query(1199px) {
    font-size: clamp(40px, 4.003vw, 72px);
    /* 48px */
  }

  @include media-query(820px) {
    font-size: clamp(32px, 4.634vw, 58px);
    /* 38px */
  }

}

/* ==================== H2 ==================== */
h2,
.h2 {
  font-family: $font-sec;
  font-size: clamp(40px, 2.552vw, 140px);
  /* 49px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 66px */

  @include media-query(1199px) {
    font-size: clamp(36px, 3.503vw, 52px);
    /* 42px */
  }

  @include media-query(1024px) {
    font-size: clamp(32px, 3.418vw, 52px);
    /* 35px */
  }

  @include media-query(820px) {
    font-size: clamp(28px, 3.902vw, 48px);
    /* 32px */
  }
}

/* ==================== H3 ==================== */
h3,
.h3 {
  font-family: $font-sec;
  font-size: clamp(36px, 2.031vw, 108px);
  /* 39px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;

  @include media-query(1199px) {
    font-size: clamp(30px, 2.836vw, 48px);
    /* 34px */
  }

  @include media-query(1024px) {
    font-size: clamp(30px, 3.125vw, 46px);
    /* 32px */
  }

  @include media-query(820px) {
    font-size: clamp(25px, 3.415vw, 38px);
    /* 28px */
  }
}

/* ==================== H4 ==================== */
h4,
.h4 {
  font-family: $font-sec;
  font-size: clamp(27px, 1.615vw, 92px);
  /* 31px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 42px */

  @include media-query(1199px) {
    font-size: clamp(23px, 2.168vw, 40px);
    /* 26px */
  }

  @include media-query(1024px) {
    font-size: clamp(26px, 2.734vw, 42px);
    /* 28px */
  }

  @include media-query(820px) {
    font-size: clamp(22px, 2.683vw, 30px);
    /* 22px */
  }
}

/* ==================== H5 ==================== */
h5,
.h5 {
  font-family: $font-sec;
  font-size: clamp(22px, 1.302vw, 84px);
  /* 25px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 33.6px */

  @include media-query(1199px) {
    font-size: clamp(19px, 1.751vw, 32px);
    /* 21px */
  }

  @include media-query(1024px) {
    font-size: clamp(22px, 2.344vw, 30px);
    /* 24px */
  }

  @include media-query(820px) {
    font-size: clamp(19px, 2.317vw, 22px);
    /* 19px */
  }
}

/* ==================== H6 ==================== */
h6,
.h6 {
  font-family: $font-sec;
  font-size: clamp(18px, 1.042vw, 61px);
  /* 20px */
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  /* 27.6px */

  @include media-query(1199px) {
    font-size: clamp(16px, 1.501vw, 24px);
    /* 18px */
  }

  @include media-query(1024px) {
    font-size: clamp(18px, 1.855vw, 26px);
    /* 19px */
  }

  @include media-query(820px) {
    font-size: clamp(17px, 1.951vw, 20px);
    /* 16px */
  }
}

select {
  font-family: var(--font-family);
}


/* ==================== Body Text ==================== */
.text-16,
p {
  font-family: $font-primary;
  font-size: clamp(14px, 0.833vw, 38px);
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  /* 21.6px */
}

/* ==================== Eyebrow ==================== */
.eyebrow {
  text-transform: uppercase;
  font-size: clamp(15px, 0.99vw, 38px);
  /* 16px */
  font-family: $font-primary;
  font-weight: 400;
  line-height: 120%;
}

.subtitle {
  font-size: clamp(14px, 0.729vw, 28px); /* 14px */
  font-family: $font-primary;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 12px;

  li {
    a {
      background: $white;
      transition: $transition;
      width: clamp(32px, 2.083vw, 96px);
      height: clamp(32px, 2.083vw, 96px);
      display: grid;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &.blog-icons {
        background: transparent;
        border: 1px solid $black;
        border-radius: 50%;

        &:hover {
          background-color: $accent-1;
          border: 1px solid $accent-1;
        }
      }

      svg {
        width: clamp(16px, 1.042vw, 96px);
        height: clamp(16px, 1.042vw, 96px);

        path {
          transition: $transition;
          fill: $black;
        }
      }

    }

    &:hover {
      a {
        background-color: $accent-1;

        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  .borderless {
    border: 0 !important;
    width: auto;
    height: auto;

    svg {
      width: clamp(16px, 1.042vw, 84px);

      path {
        transition: $transition;
        fill: $black;
      }
    }

    &:hover {
      background-color: transparent;

      svg {
        path {
          fill: $accent-1;
          transition: $transition;
        }
      }
    }
  }
}

span {
  display: inline-block;
}

.hr-line {
  height: 1px;
  width: 100%;
  background: rgba(202, 107, 69, 0.20);
  &.line-2{
    background: rgba(146, 148, 159, 0.20);
  }
}
