
.customer-container{
    .customer-wrapper{
        background-color: $lightest-gray;
        border-radius: $br-4;
        padding: clamp(16px, 1.25vw, 32px);
        .sign-form{
            display: none;
            
        }
    }
    .input-block {
        .form-control {
            padding-left: clamp(38px, 2.083vw, 96px) !important;
        }
    }
}
.sign-submit-btn{
    width: 25%;
    @include media-query(490px){
        width: 100%;
    }
}

.billing-detail{
    .shipping-radio-container{
        .plans {
                display: flex;
                align-items: center;
                gap: 16px;
                @include media-query(768px){
                    flex-wrap: wrap;
                }
                
            .plan {
                cursor: pointer;
                width: 100%;
                input[type="radio"] {
                    position: absolute;
                    opacity: 0;
                    transition: $transition;

                }
                .plan-content {
                    display: flex;
                    gap: 16px;
                    padding: 16px 60px 16px 16px;
                    height: 120px;
                    border: 1px solid $light-gray;
                    border-radius: 10px;
                    position: relative;
                    align-items: center;
                    @include media-query(576px){
                        height: 90px;
                    }
                    img{
                        @include media-query(490px){
                            width: 48px;
                        }
                    }
                    &.content-2{
                        height: 80px;
                        
                    }
                    
                    .plan-details {
                        display: inline-block;
                        width: 100%;
                    }
                }
                input[type="radio"] {
                    & + .plan-content {
                        -webkit-transition: ease-in 0.3s;
                        -o-transition: ease-in 0.3s;
                        transition: ease-in 0.3s;
                        &:after {
                            content: "";
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            right: 20px;
                            top: 20px;
                            border-radius: 100%;
                            border: 3px solid #fff;
                            -webkit-box-shadow: 0px 0px 0px 2px $accent-1;
                            box-shadow: 0px 0px 0px 2px $accent-1;
                            transform: translate(-50%);
                            top: 46px;
                            right: 10px;
                            @include media-query(576px){
                                top: 32px;
                            }
                        }
                    }
                }
                input[type="radio"]:checked {
                    & + .plan-content {
                        -webkit-transition: ease-in 0.3s;
                        -o-transition: ease-in 0.3s;
                        transition: ease-in 0.3s;
                        &:after {
                            content: "";
                            background: $accent-1;
                            border-radius: 100%;
                            border: 5px solid #fff;
                            -webkit-box-shadow: 0px 0px 0px 2px $accent-1;
                            box-shadow: 0px 0px 0px 2px $accent-1;
                        }
                    }
                }

                input[type="radio"] {
                    & + .content-2 {
                        -webkit-transition: ease-in 0.3s;
                        -o-transition: ease-in 0.3s;
                        transition: ease-in 0.3s;
                        &:after {
                            content: "";
                            position: absolute;
                            height: 24px;
                            width: 24px;
                            right: 20px;
                            top: 20px;
                            border-radius: 100%;
                            border: 3px solid #fff;
                            -webkit-box-shadow: 0px 0px 0px 2px $accent-1;
                            box-shadow: 0px 0px 0px 2px $accent-1;
                            transform: translate(-50%);
                            top: 27px;
                            right: 10px;
                        }
                    }
                }
                input[type="radio"]:checked {
                    & + .content-2 {
                        -webkit-transition: ease-in 0.3s;
                        -o-transition: ease-in 0.3s;
                        transition: ease-in 0.3s;
                        &:after {
                            content: "";
                            background: $accent-1;
                            border-radius: 100%;
                            border: 5px solid #fff;
                            -webkit-box-shadow: 0px 0px 0px 2px $accent-1;
                            box-shadow: 0px 0px 0px 2px $accent-1;
                        }
                    }
                }
            }
        }
    }
}

.summary-container{
    .item-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .icon-box{
            width: clamp(52px, 4.167vw, 150px);
            height: clamp(52px, 4.167vw, 150px);
            padding: 4px;
            border-radius: $br-4;
            background: $lightest-gray;
            display: grid;
            align-items: center;
            justify-content: center;
        }
    }
    .input-block{
        position: relative;
        button{
            padding: 8px 12px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(-7%, -50%);
        }
    }

}
