.contact-sec{
    .contact-block{
        display: flex;
        align-items: start;
        gap: $gap-16;
        .icon-box{
            display: flex;
            align-items: center;
            justify-content: center;
            width: clamp(42px, 2.917vw, 120px);
            height: clamp(42px, 2.917vw, 120px);
            border-radius: 50%;
            background: $accent-1;
            svg{
                width: clamp(24px, 1.771vw, 64px);
                height: clamp(24px, 1.771vw, 64px);
            }
        }
    }
    .google-map-container{
        iframe{
            border-radius: $br-24;
            width: 100%;
            height: clamp(320px, 31.25vw, 1250px);
        }
    }
    
}

.contact-form-sec{
    .form-container{
        padding: clamp(12px, 1.25vw, 48px);
        border-radius: $br-24;
        border: 1px solid rgba(146, 148, 159, 0.30);
        input, textarea {
            border: 1px solid rgba(146, 148, 159, 0.30);
        }
    }
}