.product-block {
    padding: clamp(10px, 0.833vw, 32px);
    border-radius: $br-16;
    background: $accent-2;
    border: 1px solid rgba(202, 107, 69, 0.30);

    .detail-img {
        background: $accent-3;
        border-radius: $br-8;
        padding: clamp(10px, 0.833vw, 24px);
        position: relative;
        overflow: hidden;
        
        .sale-label {
            background-color: $accent-2;
            color: $accent-1;
            padding: clamp(4px, 0.208vw, 12px) clamp(10px, 0.72vw, 24px);
            position: absolute;
            top: clamp(10px, 0.833vw, 24px);
            left: clamp(10px, 0.833vw, 24px);
            border-radius: $br-4;
            transition: $transition;
        }
        img{
            width: 100%;
        }

        .side-icons {
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            top: 16px;
            z-index: 5;
            right: -100px;
            gap: 8px;
            -webkit-transition: .4s linear;
            -moz-transition: .4s linear;
            -ms-transition: .4s linear;
            -o-transition: .4s linear;
            transition: .4s linear;

            li {
                transition: .5s;
                visibility: hidden;
                opacity: 0;
                transform: translateX(30px);

                a {
                    width: clamp(28px, 1.667vw, 64px);
                    height: clamp(28px, 1.667vw, 64px);
                    display: grid;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    transition: $transition;
                    background: $accent-2;
                    color: $light-black;

                    @include media-query(490px) {
                        width: clamp(30px, 6.531vw, 48px);
                        height: clamp(30px, 6.531vw, 48px);
                    }

                    svg {
                        width: clamp(14px, 0.833vw, 48px);
                        height: clamp(14px, 0.833vw, 48px);

                        path {
                            transition: $transition;
                        }
                    }

                    &.btn {
                        font-size: clamp(14px, 0.833vw, 40px);
                    }

                }

                &:hover {
                    a {
                        color: $white;
                        background: $accent-1;

                        svg {
                            path {
                                fill: $white;
                            }
                        }
                    }
                }
            }
        }
    }

    .text-box {
        .product-name {
            font-size: clamp(17px, 0.99vw, 43px);
            color: $medium-black;
            transition: $transition;

            &:hover {
                color: $accent-1;
            }
        }

        .nav-images {
            .product-card-slider-nav {
                .slick-list {
                    height: auto !important;
                    padding: 8px 0 8px 2px;

                    .slick-track {
                        display: flex;
                        align-items: center;
                        gap: $gap-8;
                        height: auto !important;

                        &::before {
                            display: none;
                        }
                    }
                }

                .nav-img-block {
                    background: $accent-3;
                    border-radius: 50%;
                    width: clamp(20px, 1.25vw, 64px) !important;
                    height: clamp(20px, 1.25vw, 64px) !important;
                    display: flex !important;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    img{
                        width: clamp(17px, 0.99vw, 48px);
                        height: clamp(17px, 0.99vw, 48px);
                    }

                    &.slick-current {
                        border: 1px solid $white;
                        outline: 1px solid $accent-1;
                    }
                }
            }
        }

        .price-bar {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cart-button {
                width: clamp(30px, 2.083vw, 96px);
                height: clamp(30px, 2.083vw, 96px);
                border-radius: 50%;
                background: $accent-1;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: $transition;

                svg {
                    width: clamp(16px, 1.094vw, 56px);
                    height: clamp(16px, 1.094vw, 56px);
                }

                &:hover {
                    background: $medium-black;
                }
            }
        }
    }

    &:hover {
        .side-icons {
            right: 16px;
            transition: $transition;
            border-radius: 5px;

            li {

                transform: none;
                transition: .5s;
                opacity: 1;
                visibility: visible;

                &:nth-child(1) {
                    transition-delay: 0.1s;
                }

                &:nth-child(2) {
                    transition-delay: 0.3s;
                }

                &:nth-child(3) {
                    transition-delay: 0.6s;
                }
            }
        }
    }
}